
@media (max-width: 620px) {
  form {
    display: flex;
    flex-direction: column !important;
  }
   .btnclass {
    width: 40vw !important;
    /* width: 20px; */
    /* display: none; */
  }
}
@media (min-width:621px) {
   .btnclass {
    width: 100% !important;
    /* width: 20px; */
    /* display: none; */
  }
}