.navbar-brand span{
 background: linear-gradient(50deg, #fb3c00, #ffb800);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

.gap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.nav-third{
  flex-direction: column;
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: row;

padding: 0;
margin: 0;
}
.navbar{
  position:fixed ;
  z-index: 2;
  width: 100%;


}

.colour{
  color:  #ffb800;
}
.nav-second{
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.welcomeMessage{
  font-size: 20px;
  font: bold;
  font-weight: 700;
  font-style: underline;
  text-decoration: underline;
}