/* Logo Gradient */
.navbar-brand span {
  background: linear-gradient(50deg, #fb3c00, #ffb800);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: 1.4rem;
}

/* Sidebar Buttons */
.sidebar button {
  width: 200px !important;
  border-radius: 10px !important;
}

/* Navbar Flex */
.gap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Search + Login */
.nav-third {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

/* Fixed Navbar */
.navbar {
  position: fixed;
  z-index: 2;
  width: 100%;
}

/* Buttons Style */
button {
  width: auto !important;
}
.colour {
  color: #ffb800;
  width: auto;
}

/* Nav-second (Welcome + Deliver) */
.nav-second {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

/* Welcome Text */
.welcomeMessage {
  font-size: 20px;
  font-weight: 700;
  text-decoration: underline;
}

/* Navbar Logo Image */
.navbar-brand img {
  object-fit: cover;
  width: 3vw;
  height: auto;
}

/* Responsive */
@media (max-width: 620px) {
  .navbar-brand {
    width: 100vw;
    display: flex;
    height: 40px;
    justify-content: space-between;
  }
  .navbar-brand img {
    width: 40px;
    height: auto;
    object-fit: contain;
  }
  .nav-third {
    width: 100vw;
    display: flex !important;
    margin-top: 10px;
    margin-right: 0;
    height: 40px;
    justify-content: space-between;
  }
  .deliver{
    display: none;
  }
  form {
    width: 90vw;
    display: flex !important;
    justify-content: space-between;
  }
  form input {
    width: 40vw !important;
    min-width: 100px;
    display: inline !important;
  }
}
.no-underline {
  text-decoration: none !important;
}