.container {
  justify-content: center;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  /* background-color: rgb(253,249,241); */
  width: 100%;

}

.third  .card {
  padding: 20px 0px;
}
.third  .text {
  width: 100%;
  /* background-color: aqua; */
  justify-content: center;
  text-align: center;
}

 .third  .card-design img {
  width: auto;
  height: 90px;
  /* border: 2px solid black */
  object-fit: contain !important;
}
@media (max-width: 500px) {
  .third .card-design {
    width: 100vw !important
    ;
    /* border: 2px solid black; */
  }
}
