.viewproduct img{
  width: 20vw;
  /* height: 50vh; */
}
.viewproduct {
  min-height: 100vh;        /* full screen height */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;       /* prevent horizontal scroll */
}


