

.user-table-wrapper {
  /* margin: 80px auto; */
  margin-top: 50px;
  width: 80%;
  padding: 40px 60px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #4caf50;
  color: white;
}

th,
td {
  padding: 12px 16px;
  border: 1px solid #ddd;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

button:hover {
  background-color: #8fd691;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}
button{
  width: 5vw;
  border-radius: 10px;
  background-color: #f1f1f1;
}